# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.spec.bak
*.egg

# PyInstaller
*.manifest

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# 运行时生成
tvbox_state.json

# mpv
mpv-2.dll
*.dll

# 临时
*.tmp
*.log
.cache/
installer_output/
